*
    {
        margin: 0;
        padding: 0;
    }
body
    {
        width: 80%;
        background-color: white;
        margin: 10px auto;
        background-color: lightseagreen;
       
    }
h1
    {
        padding: 1em;
    }
h2
    {
        padding: 1em;
    }
header
    {
        text-align: center;
        background-color: plum;
    }
#nav_menu ol
    {
        list-style-type: none;
        padding: 1em 0;
        text-align: center;
        background-color: aquamarine;
        color: white;
    
    }
#nav_menu ol li
    {
        display: inline;
        padding: 0 2em;
    }
#nav_menu ol li a.current
    {
        text-decoration: none;
    }
main   
    {
        height: 360px;
        width: 65%;
        float: left;
       background-color: plum;
        text-align: center;
    }
aside
    {
        height: 360px;
        width: 33%;
        float: right;
        text-align: left;
        background-color: aquamarine;
        color: black;
    }
footer
    {
        clear: both;
       
    }
quote
    {
        text-align: center;
    }